.gallery {
    width: 33%;
    height: auto;
    /*float: left;*/
}

img {
    width: 100%;
}

.desc {
    text-align: left;
    font-family: Consolas, 'Courier New', Helvetica;
    font-size: .75em;
}

.title {
    font-style: italic;
}

.year::before {
    content: "(";
}

.year::after {
    content: ")";
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
